<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Daijoubu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .sansserif {
            font-family: Arial Black, sans-serif;
        }
        
        img {
            border-radius: 8px;
            
        }

        body {
          background-image: url('https://images.unsplash.com/photo-1575330719343-23de81f5b995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1667&q=80');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: cover;
        }
        hr.rounded {
          border-top: 8px solid #bbb;
          border-radius: 5px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            border-radius: 5px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
        * {
            box-sizing: border-box;
        }

        .column {
        float: left;
        padding: 10px;
        height: 475px;
        border-top: 8px;
        border-radius: 5px; 
        }

        .left {
        width: 25%;
        }

        .right {
        width: 75%;
        }

        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        </style>
</head>
<body>
    {% include "navbar.html" %}
    
        <div id="main" class="sansserif" style="color:black; vertical-align:middle;margin:0px 100pxc">
             <h1> Hello, It's Me Again!</h1>
             <hr class="rounded">
        <div class="row">
            <div class="column left" style="background-color:white"> 
                <div class="card">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGBXJaQ6pcFHw/profile-displayphoto-shrink_400_400/0?e=1606348800&v=beta&t=z2STSIhLnOK34M3zv8TzsjzdbQp--Gqqh6DvKEXc0k8" alt="Avatar" style="width:100%">
                    <div class="container">
                    <h4>Ikmal Almuhtadi Rajab</h4> 
                    <p><b>Sistem Informasi</b></p> 
                    </div>
                </div>
            </div>

            <div class="column right" style="background-color:white;">
                <h2>Get to know me better</h2>
                <table style="width:60%;">
                    <tr>
                        <td><strong>Name :</strong></td>
                        <td>Ikmal Almuhtadi Rajab</td>
                    </tr>
                    <tr>
                        <td><strong>NPM :</strong></td>
                        <td>1906308324</td>
                    </tr>
                    <tr>
                        <td><strong>Student of :</strong></td>
                        <td>Fasilkom UI - 2019 <a href="https://maung.id/ikmal.almuhtadi" target="_blank">(Maung)</a></td>
                    </tr>
                    <tr>
                        <td><strong>Hobby :</strong></td>
                        <td>Gaming, any kind of Sports, and Travelling!</a></td>
                    </tr>
                    <tr>
                        <td><strong>Description :</strong></td>
                        <td>i like to eat, a lot.</a></td>
                    </tr>
                    <br>
                </table>
                <h2>Education</h2>
                <table style="width:60%;">
                <tr>
                    <td>SD Islam Al - Azhar 6 Jakapermai</td>
                        <td>2007 - 2013</td>
                    </tr>
                    <tr>
                        <td>SMP Negeri 109 Jakarta</td>
                        <td>2013 - 2016</td>
                    </tr>
                    <tr>
                        <td>SMA Negeri 5 Bekasi </td>
                        <td>2016 - 2019</td>
                    </tr>
                    <tr>
                        <td>University of Indonesia</td>
                        <td>2019 - 2023 <i>(expected)</i></td>
                    </tr>
                </table>
            </div>
        </div>
        
            <h2>Follow me on :</h2>
            <a href="https://www.instagram.com/ikmalmuhtadi/"target="_blank">
            <img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" width="50" height="50" hspace="20"/>
            </a>
            <a href="https://www.facebook.com/ikmal.almuhtadi"target="_blank">
                <img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png" width="50" height="50" hspace="20"/>
            </a>
            <a href="https://www.linkedin.com/in/ikmal-almuhtadi-bb87081a2/"target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" width="50" height="50" hspace="20"/>
            </a>
            <a href="https://twitter.com/ikmalmuhtadi"target="_blank">
                <img src="https://1000logos.net/wp-content/uploads/2017/06/Twitter-Logo.png" width="50" height="50" hspace="20"/>
            </a>
            

</body>
</html>