#hal-schedule h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}

#hal-schedule {
    font-family: 'Poppins', sans-serif;
}

#hal-schedule .btn {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    padding: 0px 10px;
    font-size: 30px;
    border-radius: 30px;
    width: 30%;
    margin-top: 10px;
}

#hal-schedule .btn-detail {
    font-family: 'Poppins-Bold', sans-serif;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    width: 25%;
}

#hal-schedule .btn-delete {
    font-family: 'Poppins-Bold', sans-serif;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    width: 25%;
}

#hal-detail h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}

#hal-detail {
    font-family: 'Poppins', sans-serif;
}

#hal-detail .btn {
    font-family: 'Poppins-Bold', sans-serif;
    color: white;
    background-color: black;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    width: 25%;
}

