<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'schedule.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body>
      {% include "navbar.html" %}
      <div class="container">
        <div id="hal-detail" class="row">
            <h2>Detail>></h2>
            <div class="col-sm-12 col-md-12">
                <form action='' method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                </form>
            </div>
            <div class="col-sm-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Mata Kuliah</th>
                        <th scope="col">Dosen</th>
                        <th scope="col">SKS</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Kelas</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        <tr>
                            <th scope="row">{{detail.matkul}}</th>
                            <td>{{detail.dosen}}</td>
                            <td>{{detail.sks}}</td>
                            <td>{{detail.deskripsi}}</td>
                            <td>{{detail.semester}}</td>
                            <td>{{detail.kelas}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="{% url 'jadwal:Schedule' %}" class="btn btn-default btn-lg"><u>BACK</u></a>
        </div>
        </div>
    

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>