<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'schedule.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body>
      {% include "navbar.html" %}
      <div class="container">
            <div id="hal-schedule" class="row">
                <h2>Schedule>></h2>
                <div class="col-sm-12 col-md-12">
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <div class="centre-items text-center">
                                <input type="submit" class="btn btn-primary" value="Add to Schedule" style="background-color: black; border-color: black;">
                            </div>
                        </form>
                </div>
                  <div class="col-sm-12 col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                           <th scope="col">Mata Kuliah</th>
                           <th scope="col">Detail</th>
                           <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        {% for jadwal in schd %}
                        <tr>
                            <th scope="row">{{jadwal.matkul}}</th>
                            <td><a href="{% url 'jadwal:detail' pk=jadwal.pk %}"><button class="btn btn-detail">Detail</button></a></td>
                            <td><a href="{% url 'jadwal:delete' pk=jadwal.pk %}"><button class="btn btn-delete">Delete</button></a></td>
                            
                        </tr>
                {% endfor %}
                </tbody>
            </table>
                      </div>
                  </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>