<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body>
      {% include "navbar.html" %}

          <div class="container">
              <div class="row">
                  <div id="atas-smt3" class="col-sm-12 col-md-12">
                    <h2 style="text-align: center; padding-bottom: 30px;">Jadwal Kebahagiaan</h2>
                  </div>

                <div class="table table-responsive">
                  <table id="table-smt3" class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Senin</th>
                        <th>Selasa</th>
                        <th>Rabu</th>
                        <th>Kamis</th>
                        <th>Jumat</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Agama <p><i>08.00 - 09.40</i></p></td>
                            <td>SDA <p><i>10.00 - 11.40</i></p></td>
                            <td>Adbis <p><i>08.00 - 10.30</i></p></td>
                            <td>SDA <p><i>10.00 - 11.40</i></p></td>
                            <td>PPM <p><i>08.00 - 10.30</i></p></td>
                        </tr>
                        <tr>
                            <td>DDAK <p><i>10.00 - 11.40</i></p></td>
                            <td>PPW <p><i>13.00 - 15.30</i></p></td>
                            <td>DDAK <p><i>14.00 - 15.40</i></p></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                  </table>
                </div>

              </div>
          </div>







        <div class="footer footer-am">
            <div class="container">
                <p>Copyright © 2020 Ikmal.</p>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>