
.home {
    background-color: black;
}

#krox {
    max-width: 8%;
    display: block;
    height: auto;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;    
}

h1 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 8vw;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
    text-shadow: 0 0 2px #bfbebe, 
      -4px 5px 0 #b8b8b8, 
      -7px 11px 0 #505050,
      -12px 17px 0 #2d2c2c,
      -17px 23px 0 #000;
}

.footer-h {
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-am {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
}

#button-home .kiri, .kanan{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    padding: 0px 10px;
    font-size: 3.2vw;
    border-radius: 50px;
    width: 65%;
    margin-top: 10px;
}

#blur-p {
    display: block;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#kotak {
    background-color: rgb(33, 33, 33);
    border-radius: 15px;
    max-width: 80%;
    margin-left: 10vw;
    padding-bottom: 20px;
}

.mini-p {
    font-family: 'Poppins', sans-serif;
    font-size: 12.5px;
    font-weight: bolder;
    color: white;
}

.nav.navbar-nav li a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.cardname {
    max-width: 100%;
    display: block;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cardname:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardname h4 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.cardname h5 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

h3 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: end;
    color: black;
}

hr.rounded {
    border-top: 4px solid rgb(0, 0, 0);
    border-radius: 4px;
  }

.gamelogo {
    max-width: 42%;
    display: block;
    height: auto;
}

.aboutme h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 42px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.aboutme p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.experiences h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 42px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.experiences h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.educations h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 42px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

#edu {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.contact h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 42px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.contact img {
    width: 60px;
    display: block;
    height: auto;
}

#all-memo {
    max-width: 100%;
    display: block;
    height: auto;
}

#memories h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 56px;
    font-weight: bolder;
    color: black;
}

#memories p {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

#atas-smt3 h2 {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 44px;
    font-weight: bolder;
    color: black;
}

#table-smt3 th {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

#table-smt3 td {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 16px;
    color: black;
}

